<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<body>
<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Division</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#divisionFormModal"><i
                class="fas fa-plus fa-sm text-white-50"></i> Create Division</button>
    </div>

    <div class="modal fade" id="divisionFormModal" tabindex="-1" role="dialog" aria-labelledby="createDivisionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createDivisionModal">Create API Contract</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formDivision" name="formDivision" class="needs-validation" novalidate>
                        <input type="hidden" id="divisionId" name="divisionId"/>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name: <span class="text-danger">* </span> </label><span id="nameInvalid" class="text-danger"></span>
                            <input class="form-control" id="name" name="name" aria-describedby="nameInvalid" required />
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title: <span class="text-danger">* </span> </label><span id="titleInvalid" class="text-danger"></span>
                            <input class="form-control" id="title" name="title" aria-describedby="titleInvalid" required />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                            <button type="button" class="btn btn-primary" onclick="divisionForm()">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- DataTables Example -->
        <div class="card mb-3 pull-right" style="width: 100%;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="apiContractDatatable">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Action</th>
                            <th scope="col" class="text-center">No</th>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Title</th>
                            <th scope="col" class="text-center">Create At</th>
                            <th scope="col" class="text-center">Updated At</th>
                            <th scope="col" class="text-center">Create By</th>
                            <th scope="col" class="text-center">Updated By</th>
                        </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
        </div>
    </div>

</div>

<section layout:fragment="body-end">

    <script th:src="@{/js/helper/hit-json-api.js}"></script>

    <script>

        /*<![CDATA[*/

        function divisionForm() {
            let contextPath = /*[[${contextPath}]]*/'';
            let divisionFormUrl = contextPath + '/api/division/store';
            var formData = new FormData(document.getElementById('formDivision'));
            let body = JSON.stringify(Object.fromEntries(formData));
            let params = {
                title: 'Confirm Create API Contract',
                method: 'POST',
                body: body,
                urlApi: divisionFormUrl,
            }
            hitJsonApi(params).then(async (result) => {
                let body = result.value;
                let bodyData = await body.json();
                if (result.isConfirmed) {
                    if (result.value.status === 200 || result.value.status === 201) {
                        let data = bodyData.data;
                        Swal.fire({
                            title: "Success",
                            icon: "success"
                        }).then(() => {

                            window.location.href = contextPath + data.uri;
                        })
                    } else if (result.value.status === 400) {
                        let errors = bodyData.errors;
                        for (const key in errors) {
                            var error = errors[key];
                            const field = error.field;
                            const fieldInvalid = field + 'Invalid';
                            const message = error.message;
                            $('#'+fieldInvalid).text(message);
                        }
                    } else {
                        Swal.fire({
                            title: "Failed",
                            icon: "failed"
                        })
                    }
                }
            });
        }

        function validationForm() {
            //check form value for remove error message
            const form = document.getElementById('formDivision');
            form.addEventListener('change', function(event) {
                const target = event.target;
                const field = target.id;
                const value = target.value;
                let errorMessage = 'This field is required';
                if (value) {
                    errorMessage = '';
                }

                $('#'+ field +'Invalid').text(errorMessage);
            });
        }

        /*]]>*/
    </script>

    <script>

        /*<![CDATA[*/
         var confirmation = (urlApi) => {
            Swal.fire({
                title: "Confirm Publish API Contract",
                showCancelButton: true,
                confirmButtonText: "Confirm",
                showLoaderOnConfirm: true,
                preConfirm: async () => {
                    try {
                        const myHeaders = new Headers();
                        myHeaders.append("Content-Type", "application/json");
                        const response = await fetch(urlApi, {
                            method: "PATCH",
                            headers: myHeaders,
                        });
                        return response;
                    } catch (error) {
                        Swal.showValidationMessage(`
                                    Request failed: ${error}
                                  `);
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    if (result.value.status === 200 || result.value.status === 201) {
                        Swal.fire({
                            title:"Success",
                            icon:"success"
                        }).then(() => {
                            apiContractDatatable.ajax.reload();
                        })
                    } else {
                        Swal.fire({
                            title:"Failed",
                            icon:"failed"
                        })
                    }
                }
            });
        }

        /*]]>*/
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let contextPath = /*[[${contextPath}]]*/'';
        let uriApi = '/api/division/datatables';
        let urlApi = contextPath + uriApi;
        let uri = '/division'
        let url = contextPath + uri;
        let urlSwaggerEditor = contextPath + '/swagger-editor';
        let publishUrl = contextPath + '/api/division/publish';
        var apiContractDatatable = $('#apiContractDatatable').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "paging": true,
            "lengthChange": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
            "language": {
                "infoEmpty": "No records available",
            },
            "ajax": {

                "url": urlApi,
                "type": "GET",
                "contentType": "application/json",
                "data": function (d) {
                    d.datatables = true;
                }
            },
            "columns": [
                {"data": "id"},
                {
                    "data": "id",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {"data": "name", "defaultContent": ""},
                {"data": "title", "defaultContent": ""},
                {
                    "data": "createdDate",
                    render: function (data, type, row, meta) {
                        if (data) {
                            return new Date(data).toLocaleString();
                        }
                        return "";
                    }
                },
                {
                    "data": "updatedDate",
                    render: function (data, type, row, meta) {
                        if (data) {
                            return new Date(data).toLocaleString();
                        }
                        return "";
                    }
                },
                {"data": "createdBy", "defaultContent": ""},
                {"data": "updatedBy", "defaultContent": ""},
            ],
            "columnDefs": [
                {
                    "targets": '_all',
                    "defaultContent": ""
                },
                {
                    "targets": 0,
                    "data": "id",
                    "mRender": function (data, type, row) {
                        html = '<div class="btn-group btn-group-sm dropright">';
                        html += '<button type="button" class="btn btn-secondary  btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">';
                        html += '<i class="fa fa-bars" aria-hidden="true"></i>';
                        html += '</button>';
                        html += '<div class="dropdown-menu">';
                        html += '<button class="dropdown-item" onclick="openDivisionModal(\'' + row.id +'\',\'' + row.name+'\',\'' + row.title  + '\')">Edit</button>';
                        html += '<div>';
                        html += '<div>';

                        return html;
                    }
                }
            ]
        });

        $(document).ready(function () {
            apiContractDatatable.ajax.reload();
            validationForm();
        });
        /*]]>*/
    </script>

    <script>
        /*<![CDATA[*/
        var openDivisionModal = (id,name,title) => {
            console.log("id: " + id + " name: " + name + " title: " + title);
            $('#divisionId').val(id)
            $('#name').val(name)
            $('#title').val(title)
            $('#divisionFormModal').modal('show');
        }
        /*]]>*/
    </script>
</section>

</body>
</html>