<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<body>
<div class="container-fluid" layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Team</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#teamFormModal"><i
                class="fas fa-plus fa-sm text-white-50"></i> Create Team</button>
    </div>

    <div class="modal fade" id="teamFormModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTeamModal">Team Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formTeam" name="formTeam" class="needs-validation" novalidate>
                        <input type="hidden" id="id" name="id"/>
                        <div class="form-group">
                            <label for="divisionId" class="col-form-label">Division: <span class="text-danger">* </span> </label> <span id="divisionIdInvalid" class="text-danger"></span>
                            <input type="hidden" id="divisionIdHidden" name="divisionIdHidden"/>
                            <select id="divisionId" name="divisionId" class="form-control" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name: <span class="text-danger">* </span> </label><span id="nameInvalid" class="text-danger"></span>
                            <input class="form-control" id="name" name="name" aria-describedby="nameInvalid" required />
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title: <span class="text-danger">* </span> </label><span id="titleInvalid" class="text-danger"></span>
                            <input class="form-control" id="title" name="title" aria-describedby="titleInvalid" required />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                            <button type="button" class="btn btn-primary" onclick="teamForm()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- DataTables Example -->
        <div class="card mb-3 pull-right" style="width: 100%;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="teamDatatable">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Action</th>
                            <th scope="col" class="text-center">No</th>
                            <th scope="col" class="text-center">Division</th>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Title</th>
                            <th scope="col" class="text-center">Create At</th>
                            <th scope="col" class="text-center">Updated At</th>
                            <th scope="col" class="text-center">Create By</th>
                            <th scope="col" class="text-center">Updated By</th>
                        </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
        </div>
    </div>

</div>

<section layout:fragment="body-end">

    <script th:src="@{/js/helper/hit-json-api.js}"></script>

    <script>
        function getDivisionListOption() {
            let contextPath = /*[[${contextPath}]]*/'';
            let divisionUrl = contextPath + '/api/division/list';
            const divisionId = document.getElementById('divisionId');
            const divisionIdHidden = document.getElementById('divisionIdHidden');
            const divisionIdHiddenValue = divisionIdHidden.value;
            fetch(divisionUrl)
                .then(response => response.json())
                .then(data => {
                    data.data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.id;
                        option.textContent = item.name;
                        divisionId.appendChild(option);
                    });
                    if (divisionIdHiddenValue) {
                        $('.divisionId option[value='+divisionIdHiddenValue+']').attr('selected','selected');
                    }
                });
        }
    </script>

    <script>

        /*<![CDATA[*/

        function onRemove(teamId) {
            const contextPath = /*[[${contextPath}]]*/'';
            const teamFormUrl = contextPath + '/api/team/delete/' + teamId;
            let operation = 'Delete';
            let httpMethod = 'DELETE';
            let body = '';
            let params = {
                title: 'Confirm '+operation+' Team',
                method: httpMethod,
                body: body,
                urlApi: teamFormUrl,
            }
            hitJsonApi(params).then(async (result) => {
                let body = result.value;
                let bodyData = await body.json();
                if (result.isConfirmed) {
                    if (result.value.status === 200 || result.value.status === 201) {
                        let data = bodyData.data;
                        Swal.fire({
                            title: "Success",
                            icon: "success"
                        }).then(() => {
                            teamDatatable.ajax.reload();
                            $('#teamFormModal').modal('hide');
                            onCloseModal();
                        })
                    } else if (result.value.status === 400) {
                        let errors = bodyData.errors;
                        for (const key in errors) {
                            var error = errors[key];
                            const field = error.field;
                            const fieldInvalid = field + 'Invalid';
                            const message = error.message;
                            $('#'+fieldInvalid).text(message);
                        }
                    } else {
                        Swal.fire({
                            title: "Failed",
                            icon: "failed"
                        })
                    }
                }
            });
        }

        /*]]>*/
    </script>

    <script>

        /*<![CDATA[*/

        function teamForm() {
            let contextPath = /*[[${contextPath}]]*/'';
            let teamFormUrl = contextPath + '/api/team/store';
            let operation = 'Create';
            let httpMethod = 'POST';
            if (checkTeamId()) {
                teamFormUrl = contextPath + '/api/team/update';
                operation = 'Update';
                httpMethod = 'PUT';
            }
            var formData = new FormData(document.getElementById('formTeam'));
            let body = JSON.stringify(Object.fromEntries(formData));
            let params = {
                title: 'Confirm '+operation+' Team',
                method: httpMethod,
                body: body,
                urlApi: teamFormUrl,
            }
            hitJsonApi(params).then(async (result) => {
                let body = result.value;
                let bodyData = await body.json();
                if (result.isConfirmed) {
                    if (result.value.status === 200 || result.value.status === 201) {
                        let data = bodyData.data;
                        Swal.fire({
                            title: "Success",
                            icon: "success"
                        }).then(() => {
                            teamDatatable.ajax.reload();
                            $('#teamFormModal').modal('hide');
                            onCloseModal();
                        })
                    } else if (result.value.status === 400) {
                        let errors = bodyData.errors;
                        for (const key in errors) {
                            var error = errors[key];
                            const field = error.field;
                            const fieldInvalid = field + 'Invalid';
                            const message = error.message;
                            $('#'+fieldInvalid).text(message);
                        }
                    } else {
                        Swal.fire({
                            title: "Failed",
                            icon: "failed"
                        })
                    }
                }
            });
        }

        /*]]>*/
    </script>

    <script>

        /*<![CDATA[*/

        function validationForm() {
            //check form value for remove error message
            const form = document.getElementById('formTeam');
            form.addEventListener('change', function(event) {
                const target = event.target;
                const field = target.id;
                const value = target.value;
                let errorMessage = 'This field is required';
                if (value) {
                    errorMessage = '';
                }

                $('#'+ field +'Invalid').text(errorMessage);
            });
        }

        function onCloseModal() {
            $("#teamFormModal").on("hidden.bs.modal", function () {
                $('#id').val('');
                $('#name').val('')
                $('#title').val('')
                $('#divisionIdHidden').val('')
            });
        }

        function onOpenModal() {
            $("#teamFormModal").on("shown.bs.modal", function () {
                getDivisionListOption();
            });
        }

        function checkTeamId() {
            const id = $('#id').val();
            return !!id;
        }

        /*]]>*/
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let contextPath = /*[[${contextPath}]]*/'';
        let uriApi = '/api/team/datatables';
        let urlApi = contextPath + uriApi;
        let uri = '/team'
        let url = contextPath + uri;
        const teamDatatable = $('#teamDatatable').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "paging": true,
            "lengthChange": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
            "language": {
                "infoEmpty": "No records available",
            },
            "ajax": {

                "url": urlApi,
                "type": "GET",
                "contentType": "application/json",
                "data": function (d) {
                    d.datatables = true;
                }
            },
            "columns": [
                {"data": "id"},
                {
                    "data": "id",
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {"data": "divisionTitle", "defaultContent": ""},
                {"data": "name", "defaultContent": ""},
                {"data": "title", "defaultContent": ""},
                {
                    "data": "createdDate",
                    render: function (data, type, row, meta) {
                        if (data) {
                            return new Date(data).toLocaleString();
                        }
                        return "";
                    }
                },
                {
                    "data": "updatedDate",
                    render: function (data, type, row, meta) {
                        if (data) {
                            return new Date(data).toLocaleString();
                        }
                        return "";
                    }
                },
                {"data": "createdBy", "defaultContent": ""},
                {"data": "updatedBy", "defaultContent": ""},
            ],
            "columnDefs": [
                {
                    "targets": '_all',
                    "defaultContent": ""
                },
                {
                    "targets": 0,
                    "data": "id",
                    "mRender": function (data, type, row) {
                        html = '<div class="btn-group btn-group-sm dropright">';
                        html += '<button type="button" class="btn btn-secondary  btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">';
                        html += '<i class="fa fa-bars" aria-hidden="true"></i>';
                        html += '</button>';
                        html += '<div class="dropdown-menu">';
                        html += '<button class="dropdown-item" onclick="openTeamModal(\'' + row.id +'\',\'' + row.name+'\',\'' + row.title  + '\')">Edit</button>';
                        html += '<button class="dropdown-item" onclick="onRemove(\'' + row.id +'\')">Delete</button>';
                        html += '<div>';
                        html += '<div>';

                        return html;
                    }
                }
            ]
        });

        $(document).ready(function () {
            teamDatatable.ajax.reload();
            validationForm();
            onCloseModal();
            onOpenModal();
        });
        /*]]>*/
    </script>

    <script>
        /*<![CDATA[*/
        var openTeamModal = (id,name,title) => {
            $('#id').val(id)
            $('#name').val(name)
            $('#title').val(title)
            $('#teamFormModal').modal('show');
        }
        /*]]>*/
    </script>
</section>

</body>
</html>